html, body {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    background-color: rgb(224, 229, 236);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    transition: 0.2s;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
    transition: 0.2s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    max-width: 80%;
    height: calc(100% - 20px);
    background: rgb(224, 229, 236);
    transform: translateX(calc(-100% - 10px));
    transition: transform 0.2s ease;
    padding-top:  40px;
    border-radius: 10px;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    z-index: 1000;
    box-sizing: border-box;
}

.side-menu.open {
    transform: translateX(0);
}


.history {
    min-height: 24px;
    text-align: right;
    color: var(--muted);
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    font-family: sans-serif;
    overflow-wrap: anywhere;
    color: black;
}

.display {
    width: calc(100% - 10px);
    border: none;
    outline: none;
    background: transparent;
    color: var(--text);
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.5px;
    color: black;
}

[data-pressable] {
    touch-action: manipulation;
    transition: box-shadow 0.2s ease;
}

[data-pressable].pressed {
    box-shadow: -2px -2px 10px rgb(255, 255, 255), 2px 2px 10px rgb(163, 177, 198);
    transition: box-shadow 0s, transform 0s;
}

body[data-theme="dark"] [data-pressable].pressed {
    box-shadow: -2px -2px 10px rgb(58, 66, 78), 2px 2px 10px rgb(25, 30, 38);
    transition: box-shadow 0s, transform 0s;
}

[data-pressable_opacity] {
    touch-action: manipulation;
    transition: opacity 0.2s ease;
}

[data-pressable_opacity].pressed {
    opacity: 0.5;
    transition: opacity 0s, transform 0s;
}

.Draggable_Area {
    width: 100%;
    height: 50px;

    -webkit-app-region: drag;
}

.Top_Menu_Draggable {
    width: 100%;
    height: 60px;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: row;
}

.Menu_Button {
    width: 20px;
    height: 20px;

    border: 0;
    outline: none;
    padding: 0px;
    margin-left: 10px;
    margin-top: 40px;

    background-color: transparent;
}

.Menu_Icon {
    width: 20px;
    height: 20px;

    margin: 0px;
    padding: 0px;
}

.Button_Row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.Square_Button_Left {
    width: 60px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Square_Button_Left_Wide {
    width: 130px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Square_Button_Middle {
    width: 60px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Square_Button_Right {
    width: 60px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Number_Title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
    
    margin: 0px;
    padding: 0px;
    color: black;
}

.Title_Icon {
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
}

.Title_Icon_Divide {
    width: 12px;
    height: 12px;
    margin: 0px;
    padding: 0px;
}

.Title_Icon_Positive_Negative {
    width: 15px;
    height: 15px;
    margin: 0px;
    padding: 0px;
}

.Icon {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.Text_Input {   
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    width: 100%;
    max-width: 100%;
    height: 90px;

    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.Top_Row {
    width: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Menu_Title {
    margin: 0px;
    margin-left: 10px;
    padding: 0px;

    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.Menu_Close {
    width: 30px;
    height: 30px;

    margin: 0px;
    margin-right: 10px;
    padding: 0px;

    outline: none;
    border: 0;
    background-color: transparent;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu_Subtitle {
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
    font-weight: 600px;
    font-size: 20px;
}

.Themes_Section {
    width: calc(100% - 20px);
    height: 100px;

    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: transparent;
}

.Themes_Selector_Button {
    width: 100%;
    height: 20px;
    outline: none;
    border: 0;
    margin-top: 10px;

    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

.Themes_Selector_Button.selected {
    background-color: transparent;
}

.Themes_Selector_Button.selected .Checkmark_Image {
    opacity: 1;
}

.Checkmark_Image {
    width: 15px;
    height: 15px;

    margin: 0px;
    padding: 0px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.Themes_Selector_Title {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;

    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}

body[data-theme="dark"] {
    background: rgb(45, 52, 62);
    transition: 0.2s;
}

body[data-theme="dark"] .side-menu{
    background: rgb(45, 52, 62);
    transition: 0.2s;
}

body[data-theme="dark"] .Square_Button_Left {
    background: rgb(45, 52, 62);
    box-shadow:
    -5px -5px 10px rgb(58, 66, 78),
    5px  5px 10px rgb(25, 30, 38); 
    transition: 0.2s;
}

body[data-theme="dark"] .Square_Button_Left_Wide {
    background: rgb(45, 52, 62);
    box-shadow:
    -5px -5px 10px rgb(58, 66, 78),
    5px  5px 10px rgb(25, 30, 38); 
    transition: 0.2s;
}

body[data-theme="dark"] .Square_Button_Middle {
    background: rgb(45, 52, 62);
    box-shadow:
    -5px -5px 10px rgb(58, 66, 78),
    5px  5px 10px rgb(25, 30, 38); 
    transition: 0.2s;
}

body[data-theme="dark"] .Square_Button_Right {
    background: rgb(45, 52, 62);
    box-shadow:
    -5px -5px 10px rgb(58, 66, 78),
    5px  5px 10px rgb(25, 30, 38); 
    transition: 0.2s;
}

body[data-theme="dark"] .history {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}

body[data-theme="dark"] .display {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}

body[data-theme="dark"] .Number_Title {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}

body[data-theme="dark"] .Menu_Title {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}

body[data-theme="dark"] .Menu_Close {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}

body[data-theme="dark"] .Menu_Subtitle {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}

body[data-theme="dark"] .Themes_Selector_Title {
    color: rgb(230, 235, 240);
    transition: 0.2s;
}