html, body {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    background-color: rgb(224, 229, 236);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

}

.Button_Row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.Square_Button_Left {
    width: 60px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 
}

.Square_Button_Left_Wide {
    width: 130px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 
}

.Square_Button_Middle {
    width: 60px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 
}

.Square_Button_Right {
    width: 60px;
    height: 60px;

    border: 0px;
    outline: none;

    background-color: rgb(224, 229, 236);

    margin-left: 5px;
    margin-right: 10px;
    border-radius: 10px;

    box-shadow:
    -5px -5px 10px rgb(255, 255, 255),
    5px  5px 10px rgb(163, 177, 198); 
}